DATABASE_URL="postgresql://netpulse:netpulse123@localhost:5432/netpulse_db"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://netpulse:netpulse123@localhost:5672"
JWT_SECRET="netpulse_jwt_secret_key_2024"
JWT_REFRESH_SECRET="netpulse_refresh_secret_key_2024"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001
NODE_ENV="development"
